.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  height: 100vh;
}
.charCard {
  background-color: white;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 10px;
  border-radius: 50%;
  width: 300px;
}
