.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.list {
  list-style-type: circle;
  margin-bottom: 30px;
  min-width: 300px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statusAlive {
  color: green;
}
.statusDead {
  color: red;
}
.statusunknown {
  color: purple;
}
